*__pycache__
*.ipynb_checkpoints
.ipynb_checkpoints
*.idea
*.pt
*.ckpt
*.bin
*.ipynb
gender_data/
wav2vec2/results
lstm_model/output
data
transformer_model/output
sentiment_data
.vscode/launch.json
wav2vec2/.env
wav2vec2/users_db.yaml
